/* Start Vairbales */
:root {
    --main-color: #02bced;
    --transparent-color: rgb(39 126 152 / 70%);
    --section-padding: 100px;
}
/* End Vairbales */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170x;
    }
}

/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h3 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
}

.main-heading h3::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.main-heading h3::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    left: 50%;
    bottom: -28px;
    background-color: white;
    transform: translateX(-50%);
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    color: #777;
    line-height: 2;
    max-width: 100%;
}
/* End Components */
/* Start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
  }
  header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }
  header .logo img {
    height: 40px;
  }
  header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header nav ul {
    list-style: none;
  }

  header nav .toggle-menu {
    color: white;
    font-size: 22px;
  }
  @media (min-width: 768px) {
    header nav .toggle-menu {
      display: none;
    }
  }
  header nav ul {
    display: flex;
  }
  @media (max-width: 767px) {
    header nav ul {
      display: none;
    }
    header nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
      padding: 15px !important;
    }
  }
  header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  header nav ul li a.active,
  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
  }
  header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
/* End header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: rgb(0 0 0 / 50%);
    background-image: url(../imeges/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .overlay .text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    padding: 40px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 767px ){
    .landing .overlay .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h3 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .overlay .change-background {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .fa-angle-left {
    left: 20px;
}

.landing .fa-angle-right {
    right: 20px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    list-style: none;
    text-align: center;
    display: flex;
    width: 80px;
    justify-content: space-between;
    transform: translateY(-50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}
.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin-right: 40px;
}

@media (max-width: 767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 20px;
    }
}

.services .srv-box .text h2 {
    font-weight: normal;
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .srv-box .text p {
    color: #777;
    line-height: 1.6;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    background-image: url(../imeges/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .imege,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .imege {
    text-align: center;
}

@media (max-width: 767px) {
    .design .imege {
        display: none;
    }
}

.design .imege img {
    position: relative;
    top: 150px;
}

.design .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
}

.design .text h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.design .text ul li {
    list-style: none;
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    list-style: none;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle .active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box .imege img {
    max-width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    bottom: -100px;
    padding: 20px;
    width: 100%;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolio .imgs-container .box .caption p {
    margin-top: 10px;
    color: var(--main-color);
}

.portfolio .more {
    display: block;
    text-decoration: none;
    background: var(--main-color);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    margin: 20px auto;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    background: var(--transparent-color);
    padding: 30px 0;
    color: white;
}

.video .text h2 {
    margin: 0 0 40px;
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 20px;
}

.video .text button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}
/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    max-width: 100%;
    bottom: -120px;
    margin-top: -120px;
}

@media (max-width: 767px) {
    .about img {
    bottom: -60px;
    margin-top: -60px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../imeges/stats.png);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--transparent-color);
}

.stats .container .box {
    color: white;
    padding: 50px;
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px auto;
}

.stats .container .number {
    font-size: 50px;
    font-weight: 900;
    margin: 20px 0;
}

.stats .container p {
    font-size: 14px;
}
/* End Stats */
/* Start Our-Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}

.our-skills .container > div > h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.our-skills .container > div > p {
    text-align: center;
    color: #777;
    margin-bottom: 50px;
}

.our-skills .container .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .container .testimonials .content img {
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.our-skills .testimonials .content .text h4 {
    font-weight: normal;
    line-height: 1.8;
    margin-bottom: 10px;
}

.our-skills .testimonials .content .text p {
    text-align: right;
    color: #ccc;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 50%;
}

.our-skills .testimonials .bullets li.active {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 30px;
}

.our-skills .skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-skills .skills .prog-holder .prog {
    height: 30px;
    background-color: #dedadc;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    height: 30px;
    background-color: var(--main-color);
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before  {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    top: -40px;
    right: -18px;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after  {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent;
    top: -12px;
    right: -7px;
}
/* End Our-Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imeges/quote.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
.quote .container {
    position: relative;
}

.quote .container q {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px , 1fr));
    gap: 20px;
}

.pricing .plans .plan {
    background-color: #fcfcfcfc;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 30px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing .plans .plan .head span {
    font-weight: bold;
    font-size: 50px;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 15px;
    position: relative;
    top: -25px;
    margin-right: 15px;
}
.pricing .plans .plan .head span::after {
    content: "/MO";
    font-size: 15px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul li {
    list-style: none;
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 140px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan .foot {
    border-top: 1px solid var(--main-color);
    padding: 30px;
}

.pricing .plans .plan .foot a {
    display: block;
    text-decoration: none;
    border: 1px solid var(--main-color);
    color: black;
    width: fit-content;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
}

.pricing .contact-text {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.pricing .contact-link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    margin: 10px auto;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imeges/subscribe.jpg);
    background-size: cover;
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    display: flex;
    position: relative;
    color: white;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
    .subscribe .container p {
        margin-top: 30px;
    }
}

.subscribe .container form {
    display: flex;
    width: 700px;
    max-width: 100%;
    position: relative;
    margin-right: 50px;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
}
.subscribe .container form input[type="email"] {
    width: calc(100% - 130px);
    padding: 20px 20px 20px 60px;
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    color: var(--main-color);
    caret-color: var(--main-color);
}

.subscribe .container form input[type="email"]::placeholder {
    color: white;
}

.subscribe .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    color: white;
}

.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
    outline: none;
}

.subscribe .container p {
    line-height: 2;
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .contact {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
@media (max-width: 767px) {
    .contact .contact {
        flex-direction: column;
    }
}
.contact .contact form {
    flex-basis: 70%;
}
.contact .contact form .main-input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.contact .contact form .main-input:focus {
    outline: none;
}
.contact .contact form textarea.main-input {
    height: 200px;
}
.contact .contact form .send {
    padding: 20px;
    margin-left: auto;
    display: block;
    background-color: var(--main-color);
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .contact .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .contact .info {
        order: -1;
        text-align: center;
    }
}
.contact .contact .info h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contact .contact .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .contact .info h4:nth-of-type(2) {
    margin-top: 80px;
}
.contact .contact .info address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .contact .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
    .contact .contact .info address {
        margin-bottom: 30px;
    }
}
/* End Contact */
/* Start Footer */
footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../imeges/subscribe.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
footer .container {
    position: relative;
    color: white;
}
footer .container img {
    margin-bottom: 20px;
}
footer .container p:not(.copyright) {
    padding: 25px;
    text-transform: uppercase;
    width: fit-content;
    margin: 10px auto;
    border-bottom: 1px solid white;
}
footer .container .social-icons i {
    padding: 10px 15px;
}
footer .container .copyright {
    margin-top: 60px;
}
footer .container .copyright span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */